
/* Header */

.Header {
	padding: 3em 1em;
}

/* Header inner */

.Header-inner {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	width: 100%;
}

.Header-inner.container {
	max-width: 72em;
}