
/* Headline */

.Headline {
	position: relative;
	width: 100%;
}

/* Headline title */

.Headline-title {
	margin: 1em 0;
	/*width: 28em;*/
}

/* Healine title h2 */

.Headline-title h2 {
	text-align: center;
	text-transform: uppercase;
}

/* Headline subtitle */

.Headline-subtitle { }


@media (min-width: 48em) {

	/* Headline */

	.Headline {
		width: 50%;
		max-width: 50%;
	}

	/* Healine title h2 */

	.Headline-title h2 {
		text-align: left;
	}

}