
/* Headline */

.Headline {
	position: relative;
	width: 100%;
}

/* Headline title */

.Headline-title {
	margin: 1em 0;
	/*width: 28em;*/
}

/* Healine title h2 */

.Headline-title h2 {
	font-size: 3em;
	line-height: 1.2;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
}

/* Headline subtitle */

.Headline-subtitle p {
	font-size: 1em;
	font-weight: 400;
	max-width: 14rem;
	width: 100%;
}


@media (min-width: 48em) {

	/* Headline */

	.Headline {
		width: 50%;
		max-width: 50%;
	}

	/* Healine title h2 */

	.Headline-title h2 {
		text-align: left;
	}

}