
/* Location */

.Location {
	display: none;
	position: relative;
	width: 100%;
}

/* Location map */

.Location-map {
	width: 100%;
}


@media (min-width: 60em) {

	/* Location */

	.Location {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		width: auto;
		/*padding-top: 12em;*/
	}

	.Location-map {
		height: 24em;
	}

}